* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.logo {
  width: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.hero {
  height: 39vh;
  display: flex;
  align-items: center;
  background: url no-repeat center;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
}

.hero h2 {
  text-align: center;
  margin-bottom: 20px;
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.team-member h3 {
  font-size: 18px;
  font-weight: normal;
}

.projects {
  padding: 60px;
  background: #f0f0f0;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.project-card {
  color: #000000;
  display: flex;
  flex-direction: column;
  /* background: #ffffff; */
  background-color: #557a75;
  box-shadow: 0 3px 10px 1px #5b575788;
  border-radius: 0.7rem;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.project-card h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  color: white;
}

.project-card p {
  font-size: 14px;
  color: white;
  margin: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.footer p {
  color: white;
  font-size: 14px;
}
