* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

/**************/
/*** Body ***/

body {
    background-image: url('../img/backgroundImage.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/**************/


/**************/
/*** Header ***/

header > .logo-name {
    width: 100%;
}

header > .logo-name > img {
    width: 30%;
    padding: 10px 10px;
}

/**************/


/**************/
/***** Main *****/

/*** Searching interface ***/

#searching-interface {
    margin-top: 200px;
    text-align: center;
    transition: 0.5s;
}

#search-question-text {
    font-size: 40px;
    color: white;
}

#book-search-form {
    margin-top: 30px;
}

#title-place {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 23px;
    color: #333;
}

#search-button {
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    font-size: 23px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;    
    margin-left: 10px;
    transition: 0.5s;
}
#search-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
#search-button:active {
    opacity: 1;
}


/*** Result section ***/
#response-show {
    transition: 0.5s;
}

#print-result-section {
    display: flex;
    justify-content: center;
}

#print-result-section-context {
    height: 280px;
    width: 350px;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
    overflow-y: scroll;
}
#print-result-section-context::-webkit-scrollbar {
    display: none;
}


/*** Page management ***/

#page-management-section {
    margin-top: 20px;
    text-align: center;
    display: none;
}

#go-page-form {
    margin-bottom: 10px;
}

#page-number {
    width: 10%;
    max-width: 60px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#go-page-button, #prev-page-button, #next-page-button {
    padding: 5px 10px;
    background-color: #4f4dbe;
    color: white;
    border: none;
    font-size: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 5px;
    transition: 0.5s;
}

#go-page-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
#prev-page-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
#next-page-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#go-page-button:active {
    opacity: 1;
}
#prev-page-button:active {
    opacity: 1;
}
#next-page-button:active {
    opacity: 1;
}

/**************/


/**************/
/*** Footer ***/

/*
footer > .footer-interface {
    display: flex;
}

footer > .footer-interface > .logo-name {
    position: fixed;
    bottom: 0;
    width: 20%;
    height: 20%;
}

footer > .footer-interface > .logo-name > .logo {
    position: absolute;
    width: 10%;
    color: white;
}

footer > .footer-interface > .logo-name > .name {
    position: absolute;
    width: 10%;
    bottom: 0;
    color: white;
}

footer > .footer-interface > .footer-content {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 20%;
}
*/

/**************/